<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <header><%- include('./partials/nav.ejs') %></header>
    <main class="details-container">
      <article class="book-details-card">
        <% if(selectedBook ) { %>
        <img
          src="<%= selectedBook.coverUrl %>"
          alt="<%= selectedBook.title %>"
        />
        <h3><%= selectedBook.title %></h3>
        <p><%= selectedBook.author %></p>
        <% } %>
        <form
          class="borrow-form"
          action="/borrow/<%= selectedBook.id %>"
          method="POST"
        >
          <button type="submit" class="borrow">
            <% if(selectedBook.isAvailable) { %> Borrow <% } else { %> Return <%
            } %>
          </button>
        </form>
      </article>
    </main>
  </body>
</html>
